.col-md-6.col-md-offset-3{'ng-app' => 'raffler_app'}
  .jumbotron
    .container
      .page-header
        %h2
          Raffler
          %small angular test app..


      %div{'ng-controller' => 'RaffleCtrl'}
        %form{'ng-submit' => 'addEntry()'}
          {{name}}

          = text_field_tag :name, nil, 'ng-model' => 'newEntry.name'



          = submit_tag 'Add', :class => 'btn btn-danger'

          = link_to 'Draw Winner', '#', 'ng-click' => 'drawWinner($event)', :class => 'btn btn-primary btn-block'


          %br
          = text_field_tag :name_filter, nil, 'ng-model' => 'name_filter', :placeholder => 'filter entries by name'
        %br
        %ul.form-group
          %li{'ng-repeat' => "entry in entries | filter:name_filter"}
            {{entry.name}}
            %span.winner{'ng-show' => 'entry.winner', 'ng-class' => '{highlight: entry == lastWinner}'}
              WINNER
            %span.pull-right
              = link_to '#', 'ng-click' => 'deleteEntry($event, entry)' do
                %span.glyphicon.glyphicon-remove



        = link_to 'Reset', '#', 'ng-click' => 'resetWinners($event)', :class => 'btn btn-default btn-block'


