.col-md-4.col-md-offset-4{:style => 'padding-top: 60px;'}
  .jumbotron
    .container
      .page-header
        %h2
          Raffler
          %small angular test app..


      %div{'ng-controller' => 'RaffleCtrl'}
        %form{'ng-submit' => 'addEntry()'}
          {{name}}

          = text_field_tag :name, nil, 'ng-model' => 'newEntry.name'

          = submit_tag 'Add', :class => 'btn btn-danger'

          = link_to 'Draw Winner', '#', 'ng-click' => 'drawWinner($event)', :class => 'btn btn-primary btn-block'



        %br
        %ul.form-group
          %li{'ng-repeat' => 'entry in entries'}
            {{entry.name}}
            %span.winner{'ng-show' => 'entry.winner', 'ng-class' => '{highlight: entry == lastWinner}'}
              WINNER
            %span.pull-right
              = link_to '#', 'ng-click' => 'deleteEntry($event, entry, $index)' do
                %span.glyphicon.glyphicon-remove



        = link_to 'Reset', '#', 'ng-click' => 'resetWinners($event)', :class => 'btn btn-default btn-block'


